* {
    margin: 30px;
    padding: 5px;
}


@font-face {
    font-family: Afoot;
    src: url(LeonardoFascia_Web-M.woff);
}
body {
    background-color: #fdd8d8;
    color: #333;
    font-family: Afoot;

}
@media screen and (max-width: 768px) {
    body {
      background-color: blue;
      color: white;
    }
  }

.answer {
 color: rgb(247, 60, 60);   
}

.question {
 font-size: larger;
}