* {
    margin: 30px;
    padding: 5px;
}


@font-face {
    font-family: Afoot;
    src: url(LeonardoFascia_Web-M.woff);
}
body {
    background-color: #fdd8d8;
    color: #333;
    font-family: Afoot;

}
@media screen and (max-width: 768px) {
    body {
      background-color: blue;
      color: white;
    }
  }

.answer {
 color: rgb(247, 60, 60);   
}
#position {
    position: absolute;
    top: 5px;
    right: 5px;
}
.question {
 font-size: larger;
}

#columns {
    display: flex;
    background-color: rgb(255, 255, 255);
  }
  
  #columns > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;